<section class="bg-bright-red padding-block-2xl">
	<div class="wrapper">
		<div class="flex items-center">
			<p class="w-max-content">Simplify how your team works today.</p>
			<button class="button" data-type="secondary">Get Started</button>
		</div>
	</div>
</section>

<style>
	section {
		position: relative;
		isolation: isolate;
	}
	section::after {
		content: '';
		position: absolute;
		inset: 0;
		background:
			url('/images/bg-tablet-pattern.svg') 0 0 no-repeat,
			url('/images/bg-tablet-pattern.svg') 150% 120% no-repeat;
		background-color: hsl(var(--crl-bright-red));
		background-size: 50%;
		opacity: 0.1;
		z-index: -1;
	}
	button {
		margin-left: auto;
	}
	p {
		color: hsl(var(--crl-very-light-gray));
		font-size: var(--fs-800);
		width: clamp(45%, 10vw + 1rem, 70%);
	}
</style>
