<section class="bg-bright-red padding-block-2xl">
	<div class="wrapper">
		<div class="flex items-center">
			<p class="w-max-content">Simplify how your team works today.</p>
			<button class="button" data-type="secondary">Get Started</button>
		</div>
	</div>
</section>

<style>
	button {
		margin-left: auto;
	}
	p {
		color: hsl(var(--crl-very-light-gray));
		font-size: var(--fs-800);
		width: clamp(45%, 10vw + 1rem, 70%);
	}
</style>
