<header>
	<div class="wrapper">
		<div class="flex space-between items-center padding-block-xl">
			<img src="/images/logo.svg" alt="Manage Logo" />
			<nav>
				<ul class="list-unstyled flex gap-4 text-xs">
					<li><a class="link text-primary" href="/pricing">Pricing</a></li>
					<li><a class="link text-primary" href="/product">Product</a></li>
					<li><a class="link text-primary" href="/aboutus">About us</a></li>
					<li><a class="link text-primary" href="/careers">Careers</a></li>
					<li><a class="link text-primary" href="/community">Community</a></li>
				</ul>
			</nav>
			<button class="button text-xs">Get started</button>
		</div>
	</div>
</header>
