<div class="flex flex-col items-center flow-s bg-light-gray">
	<img src="/images/avatar-ali.png" alt="Ali's avatar" />
	<h3>Ali Bravo</h3>
	<p class="text-center">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nobis quas sit aliquid eius,
		sapiente enim, dolorum tenetur hic dicta quasi nam ullam consectetur voluptatibus distinctio
		error. Ab, ducimus illum.
	</p>
</div>

<style>
	div {
		position: relative;
		padding: 2.8rem 2rem;
	}

	img {
		width: 75px;
		height: 75px;
		position: absolute;
		inset: -40px 0px 0px 42%;
	}
</style>
