---
import Testimonial from './Testimonial.astro';
---

<section class="flow">
	<div class="wrapper">
		<h2 class="text-center">What they've said</h2>
	</div>
	<div class="testimonial-slider padding-block-xl">
		<ul class="list-unstyled">
			<li>
				<Testimonial name="Anisha Li" img="avatar-anisha.png" />
			</li>
			<li>
				<Testimonial name="Ali Bravo" img="avatar-ali.png" />
			</li>
			<li>
				<Testimonial name="Richard Watts" img="avatar-richard.png" />
			</li>
			<li>
				<Testimonial name="Shanai Freisburg" img="avatar-shanai.png" />
			</li>
		</ul>
	</div>
	<div class="wrapper flex flex-col items-center">
		<button class="button">Get started</button>
	</div>
</section>

<style>
	.testimonial-slider {
		overflow-x: hidden;
		mask: linear-gradient(to right, transparent, blue 10%, blue 90%, transparent);
		background-color: hsl(var(--crl-very-light-gray) / 0.2);
	}

	.testimonial-slider.dragging {
		cursor: grab;
	}
	.testimonial-slider ul {
		display: flex;
		gap: 2rem;
		margin: 1rem 0 2rem 0;
		padding: 0;
	}

	.testimonial-slider ul li {
		width: 600px;
		flex: 0 0 auto;
	}
</style>

<script>
	const slider = document.querySelector('.testimonial-slider');
	let initX;
	let dragging = false;
	let scrollLeft;

	function handleMouseDown(e) {
		dragging = true;
		slider.classList.add('dragging');
		initX = e.pageX - slider.offsetLeft; //offset left: if we put a margin in the slider list
		scrollLeft = slider.scrollLeft;

		console.log({ px: e.pageX, ol: slider.offsetLeft, initX });
	}

	function handleMouseMove(e) {
		if (!dragging) return;
		e.preventDefault(); // prevent any text selection or other similar actions
		const endX = e.pageX - slider.offsetLeft;
		const walk = endX - initX;
		slider.scrollLeft = scrollLeft - walk;
	}

	function handleMouseUp(e) {
		dragging = false;
		slider.classList.remove('dragging');
	}

	function handleMouseLeave(e) {
		dragging = false;
		slider.classList.remove('dragging');
	}

	slider.addEventListener('mousedown', handleMouseDown);
	slider.addEventListener('mousemove', handleMouseMove);
	slider.addEventListener('mouseup', handleMouseUp);
	slider.addEventListener('mouseleave', handleMouseLeave);
</script>
