---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		/* Colors */
		--crl-bright-red: 12 88% 59%;
		--crl-dark-blue: 228 39% 23%;
		--crl-grayish-blue: 227 12% 61%;
		--crl-very-dark-blue: 233 12% 13%;
		--crl-very-pale-red: 13 100% 96%;
		--crl-very-light-gray: 0 0% 98%;

		/* Typography */

		--fs-200: 0.75rem;
		--fs-300: 0.875rem;
		--fs-400: 1rem;
		--fs-700: 1.75rem;
		--fs-800: 2.2rem;
		--fs-900: 3.5rem;

		--fw-400: 400;
		--fw-500: 500;
		--fw-700: 700;

		--ff-sans: 'Be Vietnam Pro', sans-serif;

		/* 
		Sizes:
		https://utopia.fyi/space/calculator/?c=375,16,1.2,1440,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 
		
		*/
		--space-3xs: clamp(0.25rem, 0.228rem + 0.0939vw, 0.3125rem);
		--space-2xs: clamp(0.5rem, 0.456rem + 0.1878vw, 0.625rem);
		--space-xs: clamp(0.75rem, 0.684rem + 0.2817vw, 0.9375rem);
		--space-s: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
		--space-m: clamp(1.5rem, 1.368rem + 0.5634vw, 1.875rem);
		--space-l: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
		--space-xl: clamp(3rem, 2.7359rem + 1.1268vw, 3.75rem);
		--space-2xl: clamp(4rem, 3.6479rem + 1.5023vw, 5rem);
		--space-3xl: clamp(6rem, 5.4718rem + 2.2535vw, 7.5rem);

		--btn-shadow: 0px 0.2px 0.2px hsl(var(--crl-bright-red) / 0.89),
			0px 0.3px 0.2px -0.8px hsl(var(--crl-bright-red) / 0.77),
			0px 0.9px 0.7px -1.6px hsl(var(--crl-bright-red) / 0.64),
			-0.1px 2.6px 2px -2.4px hsl(var(--crl-bright-red) / 0.52),
			-0.3px 5.8px 4.5px -3.2px hsl(var(--crl-bright-red) / 0.4),
			-0.6px 11px 8.5px -4px hsl(var(--crl-bright-red) / 0.27),
			-1px 18.7px 14.5px -4.8px hsl(var(--crl-bright-red) / 0.15);
	}

	/* Reset:
	https://piccalil.li/blog/a-modern-css-reset 
	*/

	/* Box sizing rules */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* Remove default margin */
	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin: 0;
	}

	/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
	ul[role='list'],
	ol[role='list'] {
		list-style: none;
	}

	/* Set core root defaults */
	html:focus-within {
		scroll-behavior: smooth;
	}

	/* Set core body defaults */
	body {
		min-height: 100vh;
		text-rendering: optimizeSpeed;
		line-height: 1.5;
	}

	/* A elements that don't have a class get default styles */
	a:not([class]) {
		text-decoration-skip-ink: auto;
	}

	/* Make images easier to work with */
	img,
	picture {
		max-width: 100%;
		display: block;
	}

	/* Inherit fonts for inputs and buttons */
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
	@media (prefers-reduced-motion: reduce) {
		html:focus-within {
			scroll-behavior: auto;
		}

		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}

	/* Custom */
	body {
		font-size: var(--fs-400);
		font-family: var(--ff-sans);
		font-weight: var(--fw-400);
		color: hsl(var(--crl-grayish-blue) / 0.6);
		background-color: white;
	}

	h1,
	h2,
	h3 {
		color: hsl(var(--crl-dark-blue));
	}

	h1 {
		font-size: var(--fs-900);
		line-height: 1.2;
		font-weight: var(--fw-500);
	}

	h2 {
		font-size: var(--fs-800);
		line-height: 1.2;
		font-weight: var(--fw-500);
	}

	.wrapper {
		max-width: 85%;
		margin-inline: auto;
	}

	.flow > * + * {
		margin-top: 2.5rem;
	}

	.flow-s > * + * {
		margin-top: 1rem;
	}

	.flow-page > * + * {
		margin-top: 6rem;
	}

	a {
		color: hsl(var(--crl-very-light-gray) / 0.75);
		text-decoration: none;
		font-size: var(--fs-300);
		font-weight: light;
	}

	a:hover {
		color: hsl(var(--crl-very-pale-red));
	}

	/* Utilities */

	.bg-light-gray {
		background-color: hsl(var(--crl-very-light-gray));
	}
	.bg-bright-red {
		background-color: hsl(var(--crl-bright-red));
	}

	.bg-dark-blue {
		background-color: hsl(var(--crl-very-dark-blue));
	}

	.flex {
		display: flex;
	}
	.flex-col {
		flex-direction: column;
	}
	.space-between {
		justify-content: space-between;
	}
	.items-center {
		align-items: center;
	}
	.list-unstyled {
		list-style-type: none;
	}

	.gap {
		gap: var(--space-2xs);
	}

	.gap-2 {
		gap: var(--space-s);
	}
	.gap-4 {
		gap: var(--space-l);
	}

	.padding-m {
		padding: var(--space-m);
	}

	.padding-block {
		padding-block: var(--space-l);
	}

	.margin-block {
		margin-block: var(--space-l);
	}
	.padding-block-xl {
		padding-block: var(--space-xl);
	}

	.margin-block-2xl {
		margin-block: var(--space-2xl);
	}

	.padding-block-2xl {
		padding-block: var(--space-2xl);
	}

	.padding-block-3xl {
		padding-block: var(--space-3xl);
	}

	.padding-t {
		padding-top: var(--space-m);
	}

	.padding-t-lg {
		padding-top: var(--space-l);
	}
	.text-xs {
		font-size: var(--fs-200);
	}

	.text-sm {
		font-size: var(--fs-300);
	}
	.link {
		text-decoration: none;
	}
	.text-primary {
		color: hsl(var(--crl-dark-blue));
	}

	.text-center {
		text-align: center;
	}

	.letter-sp-closer {
		letter-spacing: -0.8px;
	}

	.link:hover {
		color: hsl(var(--crl-grayish-blue));
	}

	.self-end {
		align-self: self-end;
	}

	.w-max-content {
		width: clamp(65%, 10vw + 1rem, 70%);
	}

	.button {
		border: none;
		border-radius: 3rem;
		padding: 0.75rem 2rem;
		color: hsl(var(--crl-very-light-gray));
		background: hsl(var(--crl-bright-red));
		box-shadow: var(--btn-shadow);
	}

	.button[data-type='secondary'] {
		background: hsl(var(--crl-very-light-gray));
		color: hsl(var(--crl-bright-red));
	}

	.button[data-type='secondary']:hover {
		background: hsl(var(--crl-very-pale-red));
		color: hsl(var(--crl-bright-red));
	}

	.button:hover {
		cursor: pointer;
		background: hsl(var(--crl-bright-red) / 0.7);
	}

	.button[data-type='small'] {
		padding: 0.8rem 1.5rem;
		box-shadow: none;
		font-size: var(--fs-200);
	}
</style>
